@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  /* Global Styles */
  
  h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
  }
  
  h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
  }
  
  h4 {
    font-size: 20px;
    color: #222;
  }
  
  h6 {
    font-weight: 700;
    font-size: 12px;
  }
  
  p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
  }
  
  .section-p1 {
    padding: 40px 80px;
  }
  
  .section-m1 {
    margin: 40px 0;
}

body {
  width: 100%;
}

/*header*/

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #e3e6f3;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;

}

/*navbar*/
#navbar{

    display: flex;
    align-items: center;
    justify-content: center;
    
    

}

#close{
  display: none;
}

#mobile{
  display: none;
  align-items: center;

}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3 ease;
}

#navbar li a:hover,
#navbar li a.active{
    color:#088178;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;

}
/* home page middle portion*/
#middle{
    background-image: url(./hero4.png);
    height: 90vh;
    width: 100%;
    background-size: cover ;
    background-position: top 25% right 0 ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 80px;
    justify-content: center;
    
    
}
#middle h4{
    padding-bottom: 15px;
}

#middle h1{
    color: #088178;
}
#middle button{
    background-image: url(./button.png);
    border: 0;
    padding: 14px 80px 14px 65px;
    color: #088178;
    background-color: transparent;
}
/* features */

#features{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
#features .fbox img{
  width: 100%;
 margin-bottom:  10px;
}
#features .fbox{
  border: 1px solid #cecece;
  text-align: center;
  margin: 15px 0px;
  width: 180px;
  padding: 30px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0,0, 0.03);
  border-radius: 4px;

}
#features .fbox h6{
  display: inline-block;
  color: #088178;
  padding: 9px 10px 8px 10px;
  background-color: #fddde4;

}

#features .fbox:nth-child(2) h6{
  background-color: #cedbbc;
}


#features .fbox:nth-child(3) h6{
  background-color: #d1e8d1;
}


#features .fbox:nth-child(4) h6{
  background-color: #cdd4f8;
}


#features .fbox:nth-child(5) h6{
  background-color: #fff2e5;
}
/* 
product */
#product1 h2{
  text-align: center;
}

#product1 {
  text-align: center;
}

#product1 .container{
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 10px;
  border: 1px solid #cecece;
  cursor: pointer;
  border-radius: 25px;
  margin: 10px 0;
  box-shadow: 20px 20px 30px rgba(0, 0,0, 0.03);
  transition: 0.3s ease;
  position: relative;
}
#product1 .pro :hover{
  box-shadow: 20px 20px 30px rgba(0, 0,0, 0.05);
}

 #product1 .pro img{
  width: 100%;
 border-radius: 20px;
}
#product1 .pro .des{
  padding: 10px 0;
  text-align: start;
}


#product1 .pro .des span{
  color: #088178;
  font-size: 12px;
}

 #product1 .pro .des h5{
  padding-top:7px;
  font-size: 14px;
  
  
} 

#product1 .pro .des .star{
  padding-top:7px;
color: yellow;
font-size: 14px;
}

#product1 .pro .des h4{
  padding-top:7px;
  font-size: 14px;
  color: #088178;
}

#product1 .pro .cart{
  height: 30px;
  width: 30px;
  color: #088178;
  border: 1px solid #cdd4f8;
  position: absolute;
  bottom: 30px;
  right:40px;
  background-color: #e8f6e8;
  border-radius: 40px;
  line-height: 25px;
}
/* banner */


#banner  {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 40vh;
  width: 100%;
  background-image: url(./banner/b2.jpg);
  background-size: cover;
  background-position: center;
  justify-content: center;
}
#banner h6{
  color: white;
  font-size: 20px;

}

#banner h1{
  color: white;
  font-size: 30px;
  
}

#banner button{
 background-color:white;
 color: black;
 padding: 10px 20px;
 border: 1px solid whitesmoke;
 border-radius: 5px;
 cursor: pointer;
 transition: 0.3s ease;
}
#sbanner{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  flex-wrap: wrap;

}

#sbanner .baner-box{
  background-image: url(./banner/b17.jpg);
  height: 50vh;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-size: cover;
  padding: 30px;
 
  justify-content: center;
}


#sbanner  .coll{

  background-image: url(./banner/b10.jpg);
}

#sbanner h5{
  color: white;
}

#sbanner h6{
  padding-top: 5px;
  color: white;
}


#sbanner h2{
  color: white;
}

.sb-btn{
  padding-top: 3px;
  margin-top: 10px;
  height: 30px;
  width: 100px;
  background-color: transparent;
  color: white;
  transition: 0.3s ease;
  font-size: 13px;
  font-weight: bold;
}

.sb-btn:hover{
background-color: #088178;
}

#text-banner{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.text-box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-image: url(./banner/b7.jpg);
  height: 25vh;
  min-width: 30%;
  background-size: cover;
  padding: 10px;
  background-position: center;
}

#text-banner .b4{
  background-image: url(./banner/b4.jpg);
}

#text-banner .b18{
  background-image: url(./banner/b18.jpg);
}

#text-banner h3{
  color: white;
}
#text-banner h6{
color: white;
font-size: 13px;
}

#text-banner span{
  color: red;
  font-size: 18px;
  font-weight: bold;
}
#news{
   height: 30vh;
width: 100%;
  background-image: url(./banner/b19.jpg);
  background-size: cover;
  background-position: 20% 30%; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.news-box span{
  color: yellow;
  cursor: pointer;
}

.news-box h3{
  color: white;
}

.form{
  display: flex;
  align-items: center;
  
}

.form button{
 background-color:#088178;
 height: 40px;
 width: 100px;
 border-radius: 4px;
 color: white;


}


.form input{

  height: 40px;
  width: 100%;
  border: 1px solid transparent;
  outline: none;
  border-radius: 4px;
  padding: 10px;
}


  footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

footer .about{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

footer h5{
  margin-bottom: 10px;
}

footer a{
  text-decoration: none;
  margin-bottom: 10px;
  color: #222;
  font-size: 14px;
}

#logo{
  margin-bottom: 25px;
}
footer p{
  font-size: 14px;
}

footer h4{
 margin-bottom: 10px; 
}

 .icon{
  padding-right: 20px;
}

footer .install .img{
  border: 1px solid green;

  margin: 10px 0 10px 0;
}

footer a:hover,
footer .icon:hover{
  color: blue;
}

footer .copyright{
  text-align: center;
  width: 100%;
}
/* 
Media query  */

@media (max-width:830px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #e3e6f3;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    padding-top: 80px;
}

#navbar.active{
  right: 0px;
  transition: 0.3s;
}

#navbar.unactive{
  display: none;
  transition: 0.3s;
}
  #navbar li{
    /* padding: 5px;
    margin-top: 50px; */
    margin-bottom: 25px;
  }

  #close{
    display: initial;
    top: 25px;
    color: black;
    font-size: 25px;
    position: absolute;
    padding-left: 20px;
  }

  
#mobile {
  display: flex;
  align-items: center;

}

#mobile i{
  color: black;
  font-size: 25px;
}
#middle {
 
  height: 90vh;
  

  background-position: top 30% right 30%;
}
#banner{
  height: 20vh;
}

#sbanner .baner-box {
 
  height: 30vh;
  min-width:100%;
 
  
}
.text-box {
  
  width: 28%;
   
 
}

#news {
  height: 20vh;

 
}
footer h5 {
  margin-top: 10px;
}
#prodeatils {
  display: flex;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
#bimg img{

  height:200px;
}

/* blog page */
.fcontent h2 {
  font-size: 20px;
  line-height: 20px;
  color: #222;
}
/* about */
#acontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.acontent h2{
  padding-top: 10px;
}
}

@media (max-width:500px) {
  #header {
   
    padding: 10px 25px;
}
#middle {
  /* height: 50vh; */
  background-position: 62%;
  padding: 0 10px;
 
}
h2 {
  font-size: 25px;

}
#middle h1 {
  font-size: 40px;
}

.section-p1 {
  padding: 20px 5%;
}
#sbanner  .coll {
  margin-top: 10px;
}
#sbanner .baner-box {
 /* margin-left: 10px;
 margin-right: 10px; */
 background-position: center;
}
/* 
singal product */
 
#prodeatils {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}
/* blog */

#bcontainer .box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.fimg img {
  
  padding: 30px 30px 30px 30px;
}
p {
  
  margin: 15px 0 10px 0;
}
/* about */
.aimg img{
  width: 400px;
}

/* cart page */
#coupon {
 
  flex-direction: column;
  
}
.total {
 
  margin-top: 20px;
  width: 150%;
}
.ftotal{
 
  padding: 10px 0px 10px 0px;
}
}

/* Shop page code */

#shmiddle{
background-image: url(./banner/b1.jpg);
height: 40vh;
width: 100%;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

#shmiddle h2{
  color: white;
}

#shmiddle p{
  color: white;
}

#pagechange{
  
 text-align: center;
}

#pagechange a{
  background-color: #088178;
  font-size: 30px;
  text-decoration: none;
  color: white;
border-radius: 4px;
padding: 10px 20px;

}


#pagechange a i{
  font-size: 30px;
  font-weight: 500;
}
/* 
single product shop */
#prodeatils{
  display: flex;
 margin-top: 20px;
}
#prodeatils .single-pro-image{
  width: 100%;
  margin-right: 50px;
}
.small-group-img{
  display: flex;
  justify-content: space-between;
  
}

/* contact page */

#ccontainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-coll{
  flex-basis: 24%;
  cursor: pointer;
  width: 100%;
  
}
.select{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px ;
}

.innum{
  /* border: 1px solid black; */
  width: 50px;
  height: 35px;
  margin-right: 10px;
  padding-left: 10px;
}
.ssbtn{
  background-color: #088178;
  padding: 10px 30px;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  border-color: #cdd4f8;
  cursor: pointer;

}
 .content h6,
 .content h4
 
 {
  padding: 10px 0 20px 0;
 }
 .content h3{
  padding: 10px 0 0 0;
 }
 .content h2{
  padding: 10px 0 10px 0;
 }

 /* blog */
 #shmiddle.blog-img{
  background-image: url(./banner/b2.jpg);
 }

 
#blmiddle h2,
#blmiddle p{
    color: white;

}
#bcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 80px;
    flex-direction: column;
}

#bcontainer .box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fimg img{
    width: 400px;
    height: 40vh;
    padding: 20px 30px 20px 30px;
}


.fcontent{
   padding-left: 40px;
   width: 50%px;
}

.fcontent a{
    color: black;
    text-decoration: none;
   
}

.fcontent a:hover{
    color: blue;
}
/* about */

#acontainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

#shmiddle.about-img{
  background-image: url(./about/banner.png);
}

.aimg img{
  height: 50vh;
  
}
.acontent{
  padding-left: 25px;
}
.acontent marquee{
  background-color: #cecece;
  color:black;
  font-weight: bold;
}

#about-video h2{
  text-align: center;
  margin-bottom: 15px;
}
#about-video.vd{
  margin: 30px auto 0px auto;
  height: 100%;
  width: 70%;
  
}
#about-video video{
  height: 100%;
width: 100%;

}

/* contact page */

#cform{
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  border-bottom:1px solid black;
  
}

.con-details h6
{
  padding-top: 10;
  margin-bottom: 10px;
}
.con-details h3{
  margin-bottom: 10px;
}
.con-details h2{
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 10px;
}
.mor-details li{
  display: flex;
  align-items: flex-start;
 
padding: 10px 0;

}
.mor-details  p{
padding-right: 20px;
  margin: 0;
}
.mor-details i{
  padding-right: 10px;
  font-weight: bold;
}

.map-details{
  height: 400px;
  width: 70%;
}


.map-details iframe{
  height: 100%;
  width: 100%;
}
#cform .f-details{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 40px 10px 40px;
  
}
#cform .f-details h2{
 
  padding: 10px 0 10px 0;
  font-size: 28px;
}
#cform .f-details h6{
  color: #465b52;
}
#cform .f-details input{
  width: 130%;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  padding: 10px 0px 10px 10px;
  
}

#cform .f-details textarea{
  width: 130%;
  padding: 10px 0px 10px 10px;
}
#cform .f-details .cbtn{
  padding: 15px 20px 15px 20px;
  margin-top: 15px;
  background-color: #088178;
  color: white;
  border-radius: 4px;
  border: none;
  font-size: 20px;
  

}
.m1{

  padding-top: 10px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin: 10px 60px 10px 60px;
}
.mname{
  padding-left: 30px;
  font-size: 15px;
}

/* Cart page */
#cart-table{
  overflow-x: auto;
}
#cart-table table{
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
  table-layout: fixed;

}

#cart-table table thead{
  border: 1px solid #222;
  border-left: none;
  border-right: none;
}

#cart-table table thead td{
  padding: 10px 0;
  font-weight: bold;
  text-transform: uppercase;
  
}

#cart-table table tbody tr td{

  padding: 10px 0;
  font-size: 14px;
}
#cart-table table img{
  width: 70px;
}
#cart-table table td:nth-child(1){
  width: 100px;
  text-align: center;
}

#cart-table table td:nth-child(2){
  width: 150px;
  text-align: center;
}


#cart-table table td:nth-child(3){
  width: 250px;
  text-align: center;
}


#cart-table table td:nth-child(4),
#cart-table table td:nth-child(6),#cart-table table td:nth-child(5){
  width: 150px;
  text-align: center;
}
#cart-table table td:nth-child(5) input{

  width: 40px;
  padding: 10px 5px 10px 10px;
}

#coupon{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.total{
  border: 1px solid #cedbbc;
 width: 60%;
 height: 250px;
 padding: 10px;
}
.total .ftotal h3{
  padding-bottom: 10px;
}
.total .ftotal .btn{
  margin: 20px;
width: 200px;
margin-top: 0px;
margin-left: 0px;
}
.total table{
  border-collapse: collapse;
  margin-bottom: 20px;
}
.total table tr td{
  padding: 10px 10px 10px;
  border: 1px solid #d1e8d1;
  width: 100%;
  
}
#coupon .btn{
  background-color: #088178;
  padding: 10px 10px 10px 10px;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 4px;
 
}
.total .button{
 margin: 10px;
}
